{% extends 'rango/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block body_block %}
<div class="container py-5 my-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header bg-warning">Login</div>
                <div class="card-body">
                    <form method="POST" role="form" action=".">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="id_username" class="col-lg-4 col-form-label text-lg-right">Username</label>
                            <div class="col-lg-6">
                                <input id="id_username" type="text" class="form-control" name="username" required autofocus>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_password" class="col-lg-4 col-form-label text-lg-right">Password</label>
                            <div class="col-lg-6">
                                <input id="id_password" type="password" class="form-control" name="password" required>
                                <small class="text-danger">{{ form.non_field_errors|striptags }}</small>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <div class="col-lg-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-8 offset-md-4">
                                <small>Not a member? <a href="{% url 'registration_register' %}">Register</a></small><br>
                                <small>Forgot password? <a href="{% url 'auth_password_reset' %}">Reset password</a></small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
