{% extends "rango/base.html" %}
{% load i18n %}

{% block title %}
    Change Password
{% endblock %}

{% block body_block %}
<!-- <form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form> -->

<div class="container py-5 my-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header bg-warning">Change password</div>
                <div id="changeForm" class="card-body">
                    <form method="POST" role="form" action=".">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="id_old_password" class="col-lg-4 col-form-label text-lg-right">Current</label>
                            <div class="col-lg-6">
                                <input id="id_old_password" type="password" class="form-control" name="old_password" required>
                                <small class="text-danger">{{ form.errors.old_password|striptags }}</small>
                                <div class="mb-3"></div>
                                {% for field in form %}
                                  <small class="text-muted help">{{ field.help_text }}</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_new_password1" class="col-lg-4 col-form-label text-lg-right">New</label>
                            <div class="col-lg-6">
                                <input id="id_new_password1" type="password" class="form-control" name="new_password1" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_new_password2" class="col-lg-4 col-form-label text-lg-right">Re-enter new</label>
                            <div class="col-lg-6">
                                <input id="id_new_password2" type="password" class="form-control" name="new_password2" required>
                                <small class="text-danger">{{ form.errors.new_password2|striptags }}</small>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <div class="col-lg-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}