{% extends "rango/base.html" %}

{% block title %}
    Register
{% endblock %}
{% block body_block %}
<div class="container py-5 my-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header bg-warning">Register</div>
                <div class="card-body">
                    <form method="POST" role="form" action=".">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="id_username" class="col-lg-4 col-form-label text-lg-right">Username</label>
                            <div class="col-lg-6">
                                <input id="id_username" type="text" class="form-control" name="username" maxlength="30" required autofocus>
                                <small class="form-text text-muted">
                                    Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.
                                </small>
                                <small class="text-danger">{{ form.errors.username|striptags }}</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_email" class="col-lg-4 col-form-label text-lg-right">Email</label>
                            <div class="col-lg-6">
                                <input class="form-control" id="id_email" name="email" type="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_password1" class="col-lg-4 col-form-label text-lg-right">Password</label>
                            <div class="col-lg-6">
                                <input id="id_password1" type="password" class="form-control" name="password1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id_password2" class="col-lg-4 col-form-label text-lg-right">Confirm Password</label>
                            <div class="col-lg-6">
                                <input id="id_password2" type="password" class="form-control" name="password2">
                                <small class="form-text text-muted">
                                    Enter the same password as before, for verification.
                                </small>
                                <small class="text-danger">{{ form.errors.password2|striptags }}</small>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <div class="col-lg-8 offset-lg-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-8 offset-md-4">
                                <small>Already a member? <a href="{% url 'auth_login' %}">Login</a></small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}