html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

#changeForm ul{
    padding: 0;
    margin-left: 25px;
}

.roundInp{
    border-radius: 40px!important;
}

.headeractive{
    color: #fff!important;
    font-weight: 900;
}

#footerCats .link-item a{
    color: #3f3f3f;
}

#searchWithRango{
    font-family: 'Passero One', cursive;
    letter-spacing: .1em;
    font-size: 2.5rem!important;
}

main{
    height: -webkit-calc(100% - 156px);
}

#cats .nav-item a{
    color: #3f3f3f;
    font-size: .9rem;
}


.active{
    color: cornflowerblue!important;
    font-weight: 700;
}
/* */
p#mostLiked, p#mostViewed{
    font-size: 2rem!important;
}

@media (min-width: 724px){
    p#mostLiked, p#mostViewed{
        font-size: 1.5rem!important;
    }
}

@media (min-width: 992px) {
    #searchResults{
        width: 75%;
    }

    p#mostLiked, p#mostViewed{
        font-size: 1.8rem!important;
    }

    #searchWithRango p{
        font-size: 3rem;
    }

    #searchWithRango img{
        width: 120px;
    }
    
    .backFooter{
        text-align: left;
        padding-left: 50px;
    }

    .backTop{
        text-align: right;
        padding-right: 50px;
    }

    #noSearch{
        text-align: left!important;
    }

    #noSearch .searchFor{
        display: flex;
        align-items: center;
    }
}