{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}
    About
{% endblock %}

{% block body_block %}
    <small class="float-right m-3 badge badge-primary">Visits: {{ visits }}</small>
    <div class="jumbotron my-5">
            <div class="container text-center">
                <h1 class=”jumbotron-heading”>This tutorial has been put together by</h1>
                <div>
                    <h2 class=”h2”>Ivan Paolo Suarez!</h2>
                    <strong>{{ boldmessage }}</strong>
                </div>
            </div>
        </div>
    <div>
    <button class="btn btn-primary d-block w-75 mx-auto my-2" onClick="alert('You clicked the button using inline javascript');">Click me - I'm an inline script</button>
    <button class="btn btn-primary d-block w-75 mx-auto my-2" id="about-btn"> Click Me - I'm JavaScript on Ice</button>
    <div class="my-5"></div>
{% endblock %}