{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}
    Add Category
{% endblock %}

{% block body_block %}
<div class="container py-5 mb-5">
    <div class="bg-dark text-light row mb-5 mx-2 rounded">
        <div class="col text-center py-3">
            <h1>Add Category</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form id="category_form" method="POST" action="{% url 'rango:add_category' %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <input type="text" id="id_name" name="name" maxlength="128" class="text-center form-control roundInp mt-3 p-4" placeholder="---">
                {% for field in form.visible_fields %}
                    {% if field.errors or message %}
                    <small class="text-danger">{{ field.errors|striptags }}{{ message }}</small>
                    {% else %}
                    <small class="text-muted">{{ field.help_text }}</small>
                    {% endif %}
                {% endfor %}
                <button class="d-block mx-auto btn btn-success mt-5" type="submit" name="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}