<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="How to Tango with Django">
	<meta name="author" content="Ivan Paolo Suarez">
	<link rel="icon" href="{% static 'images/favicon.ico' %}">

	<link href="https://fonts.googleapis.com/css?family=Passero+One|Ubuntu&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{% static "css/rango-css.css" %}">

	<title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
</head>
<body class="m-0 p-0">
	<div class="container-fluid p-0">
		<!-- HEADER -->
		<nav class="navbar navbar-expand-lg navbar-light bg-warning p-0">
			<!-- D-LG HEADER LOGO -->
			<a class="navbar-brand d-lg-block d-none p-0 pt-2" href="{% url 'rango:index' %}">
				<img src="/media/rango_img.png" alt="rango-logo" class="img-fluid" width="150">
			</a>
			<!-- D-SM HEADER LOGO -->
			<span class="d-lg-none d-sm-block ml-5 pl-3"></span>
			<a class="navbar-brand d-lg-none mx-auto d-sm-block p-0 pt-2" href="{% url 'rango:index' %}">
				<img src="/media/rango_img.png" alt="rango-logo" class="img-fluid" width="120">
			</a>
			<button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse text-center navbar-collapse py-2" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link home-rango" href="{% url 'rango:index' %}">Home</a></li>
					<li class="nav-item "><a class="nav-link" href="{% url 'rango:about' %}">About</a></li>
					<li class="nav-item "><a class="nav-link" href="{% url 'rango:search' %}">Search</a></li>
				</ul>
				<ul class="navbar-nav ml-auto px-3">
					{% if user.is_authenticated %}
					<li class="nav-item "><a class="nav-link" href="{% url 'rango:list_profiles' %}">List Profiles</a></li>
					<li class="nav-item "><a class="nav-link" href="{% url 'rango:profile' user.username %}">Profile</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'rango:add_category' %}">Add Category</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
					{% else %}
					<li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Register</a></li>
					<li class="nav-item "><a class="nav-link" href="{% url 'auth_login' %}">Login</a></li>
					{% endif %}	
				</ul>
			</div>
		</nav>
		<!-- END HEADER -->

		<div class="container-fluid p-0">
			<div class="row">
				<nav class="rangoSidebar col-lg-3 d-none d-lg-block bg-light sidebar p-0 border-right border-warning">
					<div>
						<div class="container p-3">
							<input type="search" class="form-control ml-2 mt-3" id="suggestion" placeholder="Search for a category...">
						</div>
						<div id="cats" class="py-2 px-3 d-flex">
						{% block sidebar_block %}
								{% get_category_list category %}
						{% endblock %}
						</div>
					</div>
				</nav>
				<main role="main" class="col-lg-9 ml-sm-auto px-4">		
					{% block body_block %}{% endblock %}
				</main>
			</div>
			<!-- FOOTER -->
			<footer id="footerOne" class="d-lg-none">
				<a id="srzFooterToggler" class="bg-dark text-light mt-4 navbar d-lg-none mx-auto" data-toggle="collapse" data-target="#srzFooter">
					<span class="mx-auto">CATEGORIES TAB</span>
				</a>
				<div class="collapse navbar-collapse" id="srzFooter">
					<div class="container-fluid">
						<div class="row p-4">
							<div class="col-12">
								<div class="container">
									{% get_category_list category %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<div id="footer" class="container-fluid px-0 py-3 bg-warning">
				<footer class="row text-center">
					<div class="col-lg-6 col-sm-12">
						<p class="m-0 backFooter">&copy; 2019 Tango With Django 2 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>	
					</div>
					<div class="col-lg-6 col-sm-12">
						<p class="backTop m-0"><a href="#">Back to top</a></p>
					</div>
				</footer>
			</div>
		</div>
	</div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js"></script>
    <script src="{% static "js/rango-jquery.js" %}"></script>
    <script src="{% static "js/rango-ajax.js" %}"></script>
	</body>
</html>