{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block body_block %}
    <!-- <h3>Visits: {{ visits }}</h3>
    <div class=”jumbotron p-4”>
        <div class=”container”>
            <h1 class=”jumbotron-heading”>Rango says...</h1>
            <div>
                <h2 class=”h2”>
                        Howdy, 
                        {% if user.username %}
                            {{ user.username}}
                        {% else %}
                            anon!
                        {% endif %}
                        Hey there, partner!
                </h2>
                <strong>{{ boldmessage }}</strong>
            </div>
        </div>
    </div> -->
    <div class="container text-center mt-5 mb-4">
        <img class="img-fluid" src="/media/rango_logo.png" alt="rango_logo" width="350">
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card border border-warning">
                    <div class="card-header bg-warning text-center">
                        <p id="mostLiked" class="m-0">Most Liked Categories</p>
                    </div>
                    <div class="card-body p-0">
                        {% if categories %}
                            <div class="list-group text-center">
                                {% for category in categories %}
                                    <a class="list-group-item list-group-item-action list-group-item-warning" href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <strong>There are no categories present.</strong>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card border border-warning">
                    <div class="card-header bg-warning text-center">
                        <p id="mostViewed" class="m-0">Most Viewed Pages</p>
                    </div>
                    <div class="card-body p-0">
                            {% if pages %} 
                                <div class="list-group text-center">
                                    {% for page in pages %}
                                        <a class="list-group-item list-group-item-action list-group-item-warning" href="{{ page.url }}">{{ page.title }}</a>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <strong>There are no pages present.</strong>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
 
    <!-- MODAL -->
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Rango says...</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
                <div class="modal-body">
                Howdy, 
                {% if user.username %}
                    {{ user.username}}!
                {% else %}
                    anon!
                {% endif %}
                Hey there, partner!
                <strong>{{ boldmessage }}</strong>
                </div>
            </div>
        </div>
    </div>
{% endblock %}