{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block body_block %}
    <h3>Visits: {{ visits }}</h3>
    <div class=”jumbotron p-4”>
        <div class=”container”>
            <h1 class=”jumbotron-heading”>Rango says...</h1>
            <div>
                <h2 class=”h2”>Howdy, {{ user.username }}! Hey there partner! </h2>
                <strong>{{ boldmessage }}</strong>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2 >Most Liked Categories</h2>
                        <p class="card-text">
                            {% if categories %}
                                <ul class="list-group">
                                    {% for category in categories %}
                                    <li class="list-group-item">
                                        <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <strong>There are no categories present.</strong>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2>Most Viewed Pages</h2>
                        <p class="card-text">
                            {% if pages %} 
                                <ul class="list-group">
                                    {% for page in pages %}
                                    <li class="list-group-item">
                                        <a href="{{ page.url }}">{{ page.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <strong>There are no pages present.</strong>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <div>
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" class="img-fluid">
    </div>
    <div class="row d-lg-none">
    {% for cats in second_cats %}
        <div class="col-6">
            <a href="{% url 'rango:show_category' cats.slug %}">{{ cats.name }}</a>
        </div>
    {% endfor %}
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Rango says...</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
                <div class="modal-body">
                Howdy {{ user.username }}! Hey there, partner!
                <strong>{{ boldmessage }}</strong>
                </div>
            </div>
        </div>
    </div>
{% endblock %}