{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}
    User Profiles
{% endblock %}

{% block body_block %}
<div class="container my-4">
    <div class="bg-dark text-light row mx-2 rounded">
        <div class="col text-center py-4">
            <h1>User Profiles</h1>
        </div>
    </div>
    <div class="row justify-content-center mx-2">
        {% if userprofile_list %}
            {% for listuser in userprofile_list %}
            <div class="col-lg-6 col-md-6 col-12 border mt-lg-3 mt-1 col-12 p-0">
                {% if listuser.picture %}
                <img src="{{ MEDIA_URL }}{{ listuser.picture }}" width="75" height="75" alt="{{ listuser.user.username }}">
                {% else %}
                <img src="http://lorempixel.com/64/64/people/" width="75" height="75" alt="{{ listuser.user.username }}">
                {% endif %}
                <h4 class="ml-4 d-inline">
                    <a href="{% url 'rango:profile' listuser.user.username %}">{{ listuser.user.username }}</a>
                </h4>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="my-5 py-5"></div>
{% endblock %}