{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ selecteduser.username }}'s Profile
{% endblock %}

{% block body_block %}
<div class="container my-4">
    <div class="bg-dark text-light row mx-2 rounded">
        <div class="col text-center py-4">
            <h1>{{ selecteduser.username }}'s Profile</h1>
        </div>
    </div>
    <div class="d-md-block d-none my-5"></div>
    <div class="row">
        <div class="col mt-3 text-center">
            {% if userprofile.picture %}
            <img class="img-fluid mb-3 text-center img-thumbnail" width="300" src="{{ MEDIA_URL }}{{ userprofile.picture }}" alt="{{ selecteduser.username }}">
            {% else %}
            <img class="img-fluid mb-3 text-center img-thumbnail" width="300" src="http://lorempixel.com/300/300/people/" alt="{{ selecteduser.username }}">
            {% endif %}
            <h1>{{ selecteduser.username }}</h1>
        </div>
        {% if selecteduser.username == user.username %}
        <div class="col-md-8 mt-3">
            <div class="container">
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_website">Website</label>
                        <input id="id_website" class="form-control" type="url" name="website" value="{{ userprofile.website }}" style="border-radius: 40px;">
                    </div>
                    <div class="form-group">
                        <label for="id_picture">Picture</label>
                        <input id="id_picture" class="form-control" type="file" name="picture" style="border-radius: 40px;">
                    </div>
                    <a href="{% url 'auth_password_change' %}">Change password</a>
                    <button type="submit" class="btn btn-primary mt-3 d-block" style="border-radius: 40px;">Update</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="col-md-12 text-center">
            <p class="border border-dark w-75 mx-auto p-3" style="border-radius: 40px;">
                <a href="{{userprofile.website}}" target="_blank">{{userprofile.website}}</a>
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}